<section class="section bg-secondary position-relative">
  <div class="bg-image overlay-secondary">
    <img src="images/Image_Solution.jpg" alt="bg-image">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="row align-items-center">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="images/Image_Solution.jpg" alt="feature-image" class="img-fluid">
          </div>
          <div class="col-lg-7 offset-lg-1">
            <div class="row">
              <div class="col-12">
                <h2 class="text-white">Solution</h2>
                <div class="section-border ml-0"></div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="media">
                  <i class="icon text-gradient-primary ti-stats-up mr-3"></i>
                  <div class="media-body">
                    <h4 class="text-white">Sales and revenue</h4>
                    <p class="text-light">We're not here for awards, we're here for results. Our focus is solely on
                      your business and making sales.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="media">
                  <i class="icon text-gradient-primary ti-layout mr-3"></i>
                  <div class="media-body">
                    <h4 class="text-white">Digital Solutions</h4>
                    <p class="text-light">We see your potential and offer personalized solutions to elevate your
                      business. Specializing in select niches, we stay ahead of national level advertising trends.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="media">
                  <i class="icon text-gradient-primary ti-star mr-3"></i>
                  <div class="media-body">
                    <h4 class="text-white">Personalized Care</h4>
                    <p class="text-light">We operate with a boutique approach, limiting clients to 3-5 at a time for dedicated attention.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="media">
                  <i class="icon text-gradient-primary ti-medall-alt mr-3"></i>
                  <div class="media-body">
                    <h4 class="text-white">What sets us apart?</h4>
                    <p class="text-light">We offer a unique guarantee. Your success is our success. We share the risks and motivation to ensure exceptional results.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>